/* Vars:
  ========================================================================== */

// Font
$font-main: 'Inter', 'Montserrat', sans-serif;
$font-size-main-text: 14px;
// colors

$color-simple-pink: #fff4f4;
$color-pink-light: #ffbaba;
$color-pink-deep: #dd7979;
$color-simple-brown: #744343;
$color-brown-light: #967272;
$color-brown-deep: #995858;
$color-brown-deep-dark: #3c1717;
$color-simple-white: #ffffff;
$color-simple-grey: #c4c4c4;

// other
$transition-mod: all 0.3s ease;

// breakpoints

$breakpoint-desktop-md: 1270px;
$breakpoint-tablet: 1024px;
$breakpoint-tablet-md: 767px;
$breakpoint-mob: 575px;

$container-max-width-desktop-md: 990px;
$container-max-width-tablet: 750px;
$container-max-width-tablet-md: 550px;
$container-max-width-mob: 300px;
