<div class="features">
  <div class="container">
    <div class="features__inner">
      <h2 class="features__subtitle text-md color-pink-deep">Amazing features</h2>
      <h1 class="features__title title-xl color-simple-brown">What You Get</h1>
    </div>
    <div class="features__cards">
      @@include('_featur-card.html',{title:"Re-Usable Sections",comment:"You can create an infinite number of layout by combining the pre made element of this amazing template",img:"./img/features-card/1.png"})
      @@include('_featur-card.html',{title:"100% Responsive",comment:"This template is more than responsive you can choose any site width, and all it will look incredible in any screen size",img:"./img/features-card/2.png"})
      @@include('_featur-card.html',{title:"Great Support",comment:"We are dedicated to our costumers who use our templates. don’t hesitate to contact us",img:"./img/features-card/3.png"})
      @@include('_featur-card.html',{title:"Retina Ready",comment:"This template includes ultra sharp images so it look stunning in any Retina Displays and other hight resolution screen",img:"./img/features-card/4.png"})
      @@include('_featur-card.html',{title:"Page Layouts",comment:"We have created 6 different homepages which are simple and clear and can easily be customized for any of your needs.",img:"./img/features-card/5.png"})
      @@include('_featur-card.html',{title:"Enjoy it",comment:"And now you can finally; just enjoy and be creative! If you have any questions, don’t hesitate to",img:"./img/features-card/6.png"})
    </div>
  </div>
</div>
