<footer class="footer">
  <div class="container">
    <div class="footer__header">
      <div>
        <img class="footer__logo" src="./img/logo2.png" alt="" />
      </div>
      <div class="footer__socials social">
        <a href="" class="social__item">
          <svg class="social__icon">
            <use xlink:href="#facebook" />
          </svg>
        </a>
        <a href="" class="social__item">
          <svg class="social__icon">
            <use xlink:href="#twitter" />
          </svg>
        </a>
        <a href="" class="social__item">
          <svg class="social__icon">
            <use xlink:href="#instagram" />
          </svg>
        </a>
        <a href="" class="social__item">
          <svg class="social__icon">
            <use xlink:href="#ini" />
          </svg>
        </a>
      </div>
    </div>
    <div class="footer__inner">
      <div class="get-info">
        <h3 class="get-info__title title-lg color-simple-white">
          Wanna work with us? <br />Get in touch!
        </h3>
        <a class="get-info__link text-lg color-pink-deep"
          >lunar@creativeagency.com</a
        >
        <div>
          <button
            class="get-info__btn custom-btn custom-btn--pink-deep custom-btn--md"
          >
            Contact us
          </button>
        </div>
      </div>
      <div class="footer__pages info-pages">
        <div class="info-pages__title color-simple-white">Pages</div>
        <ul class="info-pages__list">
          <li class="info-pages__link color-simple-white">
            <a href="#">Home</a>
          </li>

          <li class="info-pages__link color-simple-white">
            <a href="#">About us</a>
          </li>

          <li class="info-pages__link color-simple-white">
            <a href="#">Pricing</a>
          </li>

          <li class="info-pages__link color-simple-white">
            <a href="#">FAQ page</a>
          </li>

          <li class="info-pages__link color-simple-white">
            <a href="#">Blog</a>
          </li>

          <li class="info-pages__link color-simple-white">
            <a href="#">Contact us </a>
          </li>
        </ul>
      </div>
      <div class="footer__selected selected-info color-simple-white">
        <h3 class="selected-info__title color-simple-white">Selected styles</h3>
        <ul class="selected-info__list">
          <li class="selected-info__item">
            <a class="selected-info__link" href="#">
              <img
                class="selected-info__image"
                src="./img/footer/selected-list/1.png"
                alt=""
              />
              3d Illustration</a
            >
          </li>
          <li class="selected-info__item">
            <a class="selected-info__link" href="#">
              <img
                class="selected-info__image"
                src="./img/footer/selected-list/2.png"
                alt=""
              />
              3d Illustration</a
            >
          </li>
          <li class="selected-info__item">
            <a class="selected-info__link" href="#">
              <img
                class="selected-info__image"
                src="./img/footer/selected-list/3.png"
                alt=""
              />
              3d Illustration</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__copyright copyright">
      <address class="copyright__info color-simple-white text-md">
        Copyright © 2022 Lunar All Rights reserved. Powered by
        <a class="color-pink-light">Webflow</a>
      </address>
      <div class="copyright__content">
        <div class="copyright__item">
          <a class="copyright__link color-pink-light text-md" href=""
            >Licenses</a
          >
        </div>
        <div class="copyright__item">
          <a class="copyright__link color-pink-light text-md" href=""
            >Changelog</a
          >
        </div>
        <div class="copyright__item">
          <a class="copyright__link color-pink-light text-md" href=""
            >Style guide</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
