<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__logo" src="./img/logo.svg" alt="" />
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__link color-simple-brown">
            <a href="">Overview</a>
          </li>
          <li class="nav__link color-simple-brown">
            <a href="">Home</a>
          </li>
          <li class="nav__link color-simple-brown">
            <a href="">Portfolio</a>
          </li>
          <li class="nav__link color-simple-brown">
            <a href="">Pages</a>
          </li>
          <li class="nav__link color-simple-brown">
            <a href="">Template</a>
          </li>
        </ul>
      </nav>
      <button
        class="header__btn custom-btn custom-btn--pink-deep custom-btn--md"
      >
        Contact us
      </button>
      <div class="header__burger">
        <span></span>
      </div>
    </div>
  </div>
</header>
