<div class="landing">
    <div class="container">
        <div class="landing__inner">
            <h2 class="landing__subtitle text-md color-pink-deep">Amazing features</h2>
            <h1 class="landing__title title-xl color-simple-brown">What You Get</h1>
          </div>
        <div class="landing__cards">
            @@include('_landing-card.html',{title:"Landing vr.1",img:"./img/landing/1.png"})
            @@include('_landing-card.html',{title:"Landing vr.2",img:"./img/landing/2.png"})
            @@include('_landing-card.html',{title:"Landing vr.3",img:"./img/landing/3.png"})
            @@include('_landing-card.html',{title:"Landing vr.4",img:"./img/landing/4.png"})
            @@include('_landing-card.html',{title:"Landing vr.5",img:"./img/landing/5.png"})
            @@include('_landing-card.html',{title:"About us",img:"./img/landing/6.png"})
            @@include('_landing-card.html',{title:"FAQ page",img:"./img/landing/7.png"})
            @@include('_landing-card.html',{title:"Blog vr.1",img:"./img/landing/8.png"})
            @@include('_landing-card.html',{title:"Blog vr.2",img:"./img/landing/9.png"})
            @@include('_landing-card.html',{title:"Blog vr.3",img:"./img/landing/10.png"})
        </div>
    </div>
</div>