<div class="subscribe">
    <div class="container">
        <div class="subscribe__inner">
        <h2 class="subscribe__subtitle text-md color-pink-deep">
            Our Newsletter
          </h2>
          <h1 class="subscribe__title title-xl color-simple-brown">
            Subscribe to Lunar <br />
            Newsletter
          </h1>
          <input class="subscribe__input bold color-simple-grey" type="text" name="" id="" placeholder="Enter your email">
          <button class="subscribe__btn custom-btn custom-btn--pink-deep custom-btn--md custom-btn--max-width">Get Started</button>
          <div class="subscribe__comment font-montserrat">* By clicking<span class="color-brown-deep"> “Subscribe” </span>button, you agree to our Terms and that you have read our<span class="color-brown-deep"> Data Use Policy.</span></div>
        </div>
    </div>
</div>