<div class="web-structure">
  <div class="container">
    <div class="web-structure__cards">
  @@include('_web-card.html',{name:"Portfolio vr.1",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Portfolio vr.2",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Portfolio vr.3",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Portfolio vr.4",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Portfolio vr.5",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Portfolio vr.6",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Style Guide",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Licensing",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Changelog",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Password",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"404 Page",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Project page",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Blog page",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Categorie page",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Team page",cardsize:"web-card--md"}) 
  @@include('_web-card.html',{name:"Pricing tables", cardsize:"web-card--lg"}) 
  @@include('_web-card.html',{name:"Contact", cardsize:"web-card--lg"}) 
    </div>
  </div>
</div>
