.footer {
  max-width: 100%;
  max-height: 100%;
  background-image: url('../img/footer/footerbg.png');

  background-size: cover;
  background-position: center;

  // .footer__header
  &__header {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 42px;
    border-bottom: 2px solid $color-brown-deep;
  }

  // .footer__inner
  &__inner {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: (auto 18% 23%);
    @media (max-width: $breakpoint-tablet-md) {
      display: block;
    }
  }

  // .footer__logo
  &__logo {
  }
}

.copyright {
  border-top: 2px solid $color-brown-deep;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //  .copyright__info
  &__info {
    max-height: 30px;
  }
  &__content {
    max-height: 30px;
    display: flex;
    @media (max-width: $breakpoint-mob) {
      margin-top: 25px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 14px;
      border-right: 2px solid $color-pink-light;
    }
  }
  // .copyright__link
  &__link {
    padding-right: 14px;
  }
}
